header{
	display: none;
	position: relative;
	padding: 8px 0px;
	background-color: $emaxie-color;
	color: #fff;
	width: 100%;
	height: auto;
	box-shadow: 0px 2px 8px rgba(#000, .4);

	div.block{
		width: 100%;

		div{
			width: calc(100% / 6 - 2px);
			display: inline-block;
			position: relative;
			margin-right: 0px;
			font-size: 14px;
			font-family: 'DIN-R', $font;
			text-align: center;

			i{
				font-size: 200%;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
	}

	@media print, screen and (max-width: $max-tbl) {
		display: none $force;
	}
}